* {
  box-sizing: border-box;
}

.btnContainer {
  display: flex;
  gap: 16px;
}

button {
  border: 0.5px solid;
  padding: 8px;
}


.turno-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.numero-turno {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

.texto-turno {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.turnoManual {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

input {
  border-radius: 4px;
  padding: 8px;
  border: 0.5px solid #666666;
}